@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Ubuntu", sans-serif;
}

.bqCWu {
  display: none;
}
.iWchow {
  display: none;
}

/* CSS for Masonry Layout */
.masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust this value according to your gutter size */
  width: auto;
}

.masonry-grid-column {
  padding-left: 16px; /* Adjust this value according to your gutter size */
  background-clip: padding-box;
}

/* Responsive Layout */
@media (max-width: 767px) {
  .masonry-grid {
    margin-left: 0;
  }
}
